@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

body {
  background-color: #f7f9f8;
}

.bg-army {
  background-color: #4b5320;
}

.bg-army1 {
  background-color: #316b83;
}

.bg-grey {
  color: #8e9490;
}

.font-blog {
  font-size: 10px;
}

#jumbotron img {
  margin-top: -25px;
  width: 100%;
}

#beritaterbaru {
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 30px;
}

#beritaterbaru h2 {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #4b5320;
  margin-bottom: 20px;
}

.header-title-post {
  background-color: #27496d;
  border: 1px solid #ccc;
  padding: 11px 8px;
}

.header-title-post h2 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #c4edde;
  text-align: center;
}

.sec-contact {
  width: 100%;
  background-color: #4b5320;
  padding-bottom: 20px;
}

.sec-contact h2 {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #a7ff83;
  margin-bottom: 20px;
  padding-top: 20px;
}

.card-contact {
  background-color: #ebfffa;
  border-radius: 10px;
  border: 2px solid #6ef3d6;
  padding: 15px;
}

.sec-contact .container .row .col-md-6 h3 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #a7ff83;
}

.body-post {
  margin-top: 30px;
  border-radius: 20px;
  background-color: #fff;
  padding: 25px 15px;
}

.body-post h2 {
  font-size: 32px;
  color: #4b5320;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.body-post img {
  width: 100%;
}

.label-post {
  background-color: #00a9e0;
  border-radius: 10px;
  width: fit-content;
  margin: 10px 0;
}
.label-post span {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 10px;
}

.header-berita-terkini {
  background-color: #345b63;
  border: 1px solid #ccc;
  padding: 11px 8px;
  border-radius: 30px;
}

.header-berita-terkini h2 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #d4ecdd;
  text-align: center;
}

.container-comments {
  border-top: 1px dashed black;
}

.title-comments {
  font-size: 27px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

.container-comments textarea {
  margin-top: 20px;
}

.social-menu {
  margin: 22px 0 0 0;
}

.social-menu ul {
  justify-content: center;
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 5px 0 0;
}
.social-menu ul li .fab {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: #0077b5;
}

@media all and (max-width: 768px) {
  #beritaterbaru .container .row .carousel {
    display: none;
  }

  #kementerianpertahanan .row .col-md-12 .card {
    display: none;
  }

  #beritanasional .row .col-md-12 .card {
    display: none;
  }

  .body-post h2 {
    font-size: 25px;
    color: #4b5320;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
}
